header#pageHeader.page-header
  .container
    nav.navbar.navbar-expand-lg.navbar-light.bg-white
      a.navbar-toggler(href='#menu', data-toggle="collapse", data-target='#menu', aria-controls='menu', aria-expanded='false', aria-label='Menu Trigger')
        span.navbar-toggler-icon
      .navbar-brand
        a(href='index.html')
          h1.m-0
            | #{menus.meta.title}
      .collapse.navbar-collapse(id='')
        ul.navbar-nav.ml-auto
          each item in menus.lists
            //- 如果有次選單
            if item.submenu
              //- 判斷現在在哪個頁面設定 active
              if (current == item.url)
                li.nav-item.dropdown.active
                  a.nav-link.dropdown-toggle(href=item.url, data-toggle='dropdown', aria-haspopup='true', aria-expanded='false', data-hover='dropdown', data-delay='10')
                    span.text #{item.name}
                    b.caret
                  ul.dropdown-menu(role='menu')
                    each subitem in item.submenu
                      li 
                        a.dropdown-item(href=subitem.url) #{subitem.name}
              else
                li.nav-item.dropdown
                  a.nav-link.dropdown-toggle(href=item.url, data-toggle='dropdown', aria-haspopup='true', aria-expanded='false', data-hover='dropdown', data-delay='10')
                    span.text #{item.name}
                    b.caret
                  ul.dropdown-menu(role='menu')
                    each subitem in item.submenu
                      li 
                        a.dropdown-item(href=subitem.url) #{subitem.name}
            else
              if (current == item.url)
                li.nav-item.active
                  a.nav-link(href=item.url)
                    span.text #{item.name}
              else
                li.nav-item 
                  a.nav-link(href=item.url)
                    span.text #{item.name}
