meta(charset='utf-8')
meta(http-equiv='Cache-control' content='public')
meta(http-equiv='X-UA-Compatible', content='IE=edge')
meta(name='viewport', content='width=device-width, initial-scale=1, shrink-to-fit=no')
title #{menus.meta.title}
meta(name='keywords', content="#{menus.meta.keyword}")
meta(name='description', content="#{menus.meta.description}")
meta(name='copyright', content="© 2018 #{menus.company}. All Rights Reserved.")
meta(name='Author', content='')
meta(name='apple-mobile-web-app-capable', content='yes')
meta(name='apple-touch-fullscreen', content='yes')
link(rel='Shortcut Icon', type='image/x-icon', href='images/favicon.png')
meta(property='og:url', content="#{menus.meta.url}")
meta(property='og:type', content='website')
meta(property='og:title', content="#{menus.meta.title}")
meta(property='og:description', content="#{menus.meta.description}")
meta(property='og:image', content= "#{menus.meta.url}/images/ogimg.jpg")

link(href='css/vendors.css', rel='stylesheet')
link(href='css/main.css', rel='stylesheet')
